
<p>The current temperature is <%= @scraper.theTemperature %></p>
<p>The high for today is: <%= @scraper.tempHighFirst %></p>
<p>The low for today is: <%= @scraper.tempLowFirst %></p>
<p><%= image_tag @scraper.icon %> <%= @scraper.weather_description %></p>
<small><%= @scraper.tempUpdated %></small>

<div class="loop_table_down">
	<table class="table table-bordered table-hover atable">
		<thead>
			<tr>
				<th>Date</th>
				<th>High</th>
				<th>Low</th>
				<th>Weather</th>
			</tr>	
		</thead>
		<tbody>
			<% @scraper.weatherTest.drop(1).each { |d| date=d['date'] %>
				<tr>
					<td><%= date['monthname'] %> <%= date['day'] %></td>
					<td><%= d['high']['fahrenheit'] %></td>
					<td><%= d['low']['fahrenheit'] %></td>
					<td><%= d['conditions'] %><%= image_tag d['icon_url'], :class => "style_image" %></td>
				</tr>
			<% } %>
		</tbody>
	</table>
</div>

<div id="loop_table_across">
	<table class='table table-bordered dtable'>
		<thead>
			<tr>
			<% @scraper.weatherTest.drop(1).each { |d| date=d['date'] %>
				<th><%= date['monthname']%>   <%= date['day'] %></th>
			<% } %>
			</tr>
		</thead>
		<tbody>
			<tr>
				<% @scraper.weatherTest.drop(1).each { |d| %>
				<td>
					High: <%= d['high']['fahrenheit'] %>	<br>
					Low:  <%= d['low']['fahrenheit'] %>   <br>
					Weather: <%= d['conditions'] %>				<br>
					<%= image_tag d['icon_url'], :class => "style_image_again" %>


				</td>
				<% } %>
			</tr>
		</tbody>
	</table>
</div>



		current_weather(current_weather_hash)
		forecast_hash = fetch_10DayForecast
		forecast(forecast_hash)