<% provide(:title, "Help") %>

<h1>This is the help page</h1>

<p>If you need to contact me, do it here at <a href="mailto:mattydevicce@gmail.com?Subject=Hello%20there%20good%20buddy" target="_top">Matt's email</a></p>
