<div class="center jumbotron">
	
	<h1>Home</h1>

	<h2>This will be filled in later, if you need help, visit me at the <b><%= link_to 'HELP', help_path %></b> page</h2>

	<h2>Here are various <%= link_to 'projects', projects_path %> I have been working on</h2>



</div>