<h2>Here is an example of using my first API</h2>
<p><%= link_to "Weather", weather_path %><br>
<p><%= link_to "Page Scraper", scraper_path %></p>
<p><a href="https://stark-cliffs-3379.herokuapp.com/">Ruby on Rails tutorial by Michael Hartl</a>
