<div class="container">

	<h2>What reddpics subredit pic page would you like to scrape?</h2>
	<%= form_tag("/scraper/show") do %>
		<p>reddpics.com/r/ <%= text_field_tag :webpage %>
		<%= submit_tag("Get pics", class: "btn btn-default btn-xs") %></p>
	<% end %>

</div>
