<div class="container">
<% if @reddpics_list.present? %>
	 <h1>There doesnt seem to be anything here</h1>
<% else %>
	<h1><%= @message %></h1>
<% end %>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Link</th>
			<th>Title</th>
		</tr>
	</thead>
	<tbody>
		<% @reddpics_list.list.each { |title, link| %>
		<tr>
			<td><%= title %></td>
			<td><a href="<%= link %>"><%= link %></td>
		</tr>
		<% } %>
	</tbody>

</table>



</div>