<%= form_tag("/weather", class: "search") do %>
	<% if @scraper.error.present? || @scraper.error_description.present? %>
		<p class="search error">Error: <%= flash[:notice]=@scraper.error %></p>
		<p class="search error">Error: <%= flash[:notice]=@scraper.error_description %></p>
	<% end %>

	<p class="search">City: <%= text_field_tag :city %></p>
	<p class="search">State: <%= select_tag(:state, options_for_select(us_states)) %></p>

	<%= submit_tag("Get weather", class: "btn btn-default btn-xs search") %>
<% end %>