@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
	padding-top: 50px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	background-color: #FFFFFF;
}

.center h1 {
	margin-bottom: 10px;
}



/* typography */

h1 {
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}



/* navbar */

.navbar-default {
    border-color: #E7E7E7;
    background-color: #FFFFFF;
	.navbar-nav {
		li {
			a {
				color: #0A0500;			
			}
			a:hover {
				color: #6699FF;
			}
		}
	}
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #0A0500;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #6699FF;
  text-decoration: none;
}



/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
	
	small {
		color: #0A0500;
		padding-top: 7px;
	}

	a {
		color: #0A0500;
	}

	small {
		float: left;
	}
	
	ul{
		float: right;
		list-style: none;
	
		li {
			float: left;
			margin-left: 15px;

			a {
				i:hover {
					color: #6699FF;
				}
			}
		}

		li:hover {
			color: #DB70B8;
		}
	}
}


/* project table */

.search {
	float: right;
	margin-right: 7px;
}

.error {
	color: red;
	font-size: 0.6em;
}

table {
	text-align: center;
}

th {
	text-align: center;
}

.style_image {
	height: 50%;
	float: right;
}

.atable {
	width: 50%;
}

.citystate {
	font-size: 1.7em;
	font-weight: bold;
}

.notice {
	
}

