<footer class="footer">

	<small>
		This is my first site flying solo
	</small>
	<nav>
		<ul>
			<li><a href="https://twitter.com/Mattydevicce" class="btn btn-block btn-social btn-twitter">
			  <i class="fa fa-twitter"></i>
			</a></li>
			<li><a href="https://www.linkedin.com/pub/matthew-morrisey/42/a90/3b5" class="btn btn-block btn-social btn-linkedin">
			  <i class="fa fa-linkedin"></i></a></li>			
			<li><a href="https://github.com/mattydevicce" class="btn btn-block btn-social btn-github">
			  <i class="fa fa-github"></i></a></li>
		</ul>
	</nav>

</footer>