<header class="navbar navbar-fixed-top navbar-default">  
  <div class="container">
    <%= link_to "Matty", root_path, id: "logo" %>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      
    	<span class="sr-only">Toggle navigation</span>

    	<span class="icon-bar"></span>
    	<span class="icon-bar"></span>
    	<span class="icon-bar"></span>

    </button>    
    <nav class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   help_path %></li>
        <li><%= link_to "About",  about_path %></li>
        <li class="dropdown">
        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
        	Projects<b class="caret"></b></a>
        	<ul class="dropdown-menu">
        		<li><%= link_to "Over view", projects_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Weather report", weather_path %></li>
        		<li><%= link_to "Image scraper", scraper_path %></li>
                <li><a href="https://stark-cliffs-3379.herokuapp.com/">Twitter clone</a></li>
        	</ul>
        </li>
      </ul>
    </nav>
  </div>
</header>